<div>
    <div class="gray-container">
        <div>
            Dear Sir/Madam, <br><br>

            The current progress of your shipment <strong>{{ shipment_name }}</strong> is as follows: <br><br>

            The shipment, scheduled to start on <strong>{{ start_date }}</strong>, has been updated to the status <strong>{{ status }}</strong>. <br><br>
            
            Your timely presence is highly appreciated. <br><br>
            
            Thank you.
        </div>
        <div style="margin-top: 15px;">
        </div>
    </div>
</div>
